<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-do App</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
    <h1>My Todo List items to select from</h1>
    <div id="todo-table">
        <div class="col m3">
          <div class="card-panel">
            <center><img class="responsive-img" src="C:\Users\laptop\Desktop\website\images\bingor.jpg" height="50%" width="80%"></center>
            <div class="card-content">
                <div class="divider"></div>
                <h6>bingo<br>
                    <div class="right orange-text">&#x20B9 10</div><br><br>
                    <a class="btn-floating halfway-fab waves-effect waves-light teal accent-4 right" id="addme"><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>




        <div class="col s12 m3">
          <div class="card-panel">
            <center><img src="C:\Users\laptop\Desktop\website\images\kurkr.jpg" height="50%" width="80%"></center>
            <div class="card-content">
                <div class="divider"></div>
                <h6>kurkure<br>
                    <div class="right orange-text">&#x20B9 10</div><br><br>
                    <a class="btn-floating halfway-fab waves-effect waves-light teal accent-4 right" ><i class="material-icons">add</i></a>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</body>
</html>