<!DOCTYPE html>
<html lang="en">
<head>
    <title>To-do App</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
</head>
<body>
    <h1>My Todo List</h1>
    <div id="todo-table">
        <form>
            <input type="text" name="item" placeholder="Add new item..." required>
            <button type="submit">Add Item</button>
        </form>
        <ul>
            <%todos.forEach(item => {%>
                <li><%= item.item %></li>
            <% });%>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/todo-list.js"></script>
</body>
</html>